body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    background: url("https://daraagrussdesign.com/wp-content/uploads/2024/01/8.jpeg") no-repeat center center/ cover;
}

.container{
    width: 550px;
    height: 450px;
}
.header{
    font-size: 1.2rem;
    border: solid 2px #FFF;
    color:#FFF;
    background-color: rgb(169, 39, 62);
    padding:5px;
    width: 100%;
    margin: 40px;
    border-radius: 5px;
}
.main-content{
    width: 100%;
    height: 300px;
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px 40px;
    box-shadow: 0 0 3px;
}
.main-content .text-area{
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5;
}
.main-content .person-area{
    font-size: 1.6rem;
    color:rgb(169, 39, 62);
    text-transform: uppercase;
    margin-top: 20px;
}
.quote-btn{
    background-color: burlywood;
    color: #FFF;
    font-size: 1.4rem;
    padding:10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;

}
.quote-btn:active{
    background-color: rgb(169, 39, 62);
}